.App{
  background-color: #12215b;
}

.card-grid{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px; /* reduce gap between items */
  justify-content: center;
  align-items: center;
  width: fit-content; /* adjust width of grid to content */
  margin: 0 auto; 
}

.card{
  background-color: #12215b;
}

